@import "font/font.css";
@namespace m url('http://www.w3.org/1998/Math/MathML');

.mop-small {
    font-size: 70%;
}

.menv-alignlike>m|mtr>m|mtd:nth-child(odd),
.menv-cells-right>m|mtr>m|mtd,
.menv-multline>m|mtr>m|mtd:last-child {
    text-align: right;
    text-align: -webkit-right;
    text-align: -moz-right
}

.menv-alignlike>m|mtr>m|mtd:nth-child(even),
.menv-cells-left>m|mtr>m|mtd,
.menv-multline>m|mtr>m|mtd:first-child {
    text-align: left;
}

.menv-multline>m|mtr>m|mtd {
    width: 100%;
}

.menv-align>m|mtr>m|mtd:nth-child(2n + 3) {
    padding-left: 1em;
}

m|mtd {
    padding-left: 0;
    padding-right: 0;
}

.menv-with-eqn>m|mtr:not(:has(> m|mtd.menv-nonumber)) {
    counter-increment: eq-number;
}

.menv-with-eqn>m|mtr:not(:has(> m|mtd.menv-nonumber))::after {
    position: absolute;
    right: 0;
    padding: 0.5ex 0.4em;
    content: "(" counter(eq-number) ")";
}

.menv-left-border {
    border-left: 0.06em solid;
    border-collapse: collapse;
}

.menv-right-border {
    border-right: 0.06em solid;
    border-collapse: collapse;
}

.mop-negated {
    background: linear-gradient(to top left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) calc(50% - 0.8px), rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) calc(50% + 0.8px), rgba(0, 0, 0, 0) 100%)
}
