body {
    width: fit-content;
    margin: 0 auto;
}

table {
    text-align: center;
}

td {
    width: 25%;
}

.safari-img {
    width: 50%;
    height: auto;
}

.firefox-img {
    width: 50%;
    height: auto;
}
